@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');


body {
    font-size: 15px;
    background: hsl(0, 0%, 95%);
    color: hsla(0, 0%, 100%, 0.75);
    
    
}


h1{
    font-family: 'Big Shoulders Display' , cursive;
    text-transform: uppercase;
    padding-top: 10px;
    padding-left: 40px;
    font-size: 38px;
}


p{
    font-family: 'Lexend Deca', sans-serif;
    padding-left: 40px;
    padding-right: 40px;
    line-height: 23px;
}

#container{
    display: grid;
    grid-template-columns: 300px 300px 300px;
   height: 490px;
   justify-content: center;
   margin-top: 120px;
   
}


    .sedans{
   background: hsl(31, 77%, 52%);
   border-bottom-left-radius: 10px;
   border-top-left-radius: 10px;
   
}


.suv{
    background: hsl(184, 100%, 22%);
}


.luxury{
    background: hsl(179, 100%, 13%);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}




img{
    padding-top: 40px;
    padding-left: 40px;
}


button{
    border-radius: 22px;
    padding: 13px;
    width: 160px;
    font-family: 'Lexend Deca', sans-serif;
    background: hsl(0, 0%, 95%);
    background-color: #f2f2f2;
  text-decoration: none;
  font-size: 15px;
  border: 2px white;
 margin-top: 80px;
 margin-left: 35px;
 
  

}

.one{
    color: hsl(31, 77%, 52%);
}


.two{
    color: hsl(184, 100%, 22%);
}


.three{
    color: hsl(179, 100%, 13%);
}

button:hover{
    cursor: pointer;
    background: hsl(0, 0%, 85%);
}


{}


{}

{}


{}


{}